/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 header img {
    margin-top: 16px;
 }


.logo {
    height: 19px;
    
}

nav {
    display:flex;
    justify-content: center;
}

nav ul {
    display:flex;
    list-style: none;
    gap:50px;
    margin: 0;
    height: 40px;
}

nav li {
    display: flex;
    align-items: center;
    padding-top: 16px;
    box-sizing: border-box;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    padding-bottom: 2px;
}

.lien {
    color:black;
    text-decoration: none;
}

.lien:hover {
    color:blue;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Filtres ***********/

.filtres {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.filtres ul {
    padding-left: 15px;
    gap:10px;
    display: flex;
    list-style-type: none;
}



button {
    background-color: white;
    border-radius: 25px;
    height: 50px;
    font-size: 16px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    align-items: center;
}

.filtres button {
    display:flex;
}

.filtres button:hover {
    background-color:#DEEBFF;
}

.textebouton {
    margin: 0 10px;
}

button .fa-solid {
    margin-left: 10px;
}

.info .fa-info {
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 11px;
    margin-right: 10px;
    padding-bottom: 2px;
    margin-top: 2px;
}

.info {
    display: flex;
    align-items: center;
}

/****** Style du formulaire ***********/
.formulaire {
    display: flex;
}

form {
    display: flex;
    align-items: center;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width:fit-content;
}

.arrondiegauche {    
    width: 50px;
    height: 49px;
    left: 0px;
    top: 0px;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champ {
    height: 100%;
    box-sizing: border-box;
    border:none;
}

.rechercher {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;   
    font-size: 18px;
    position: absolute;
    top:0 ; 
    bottom:0 ;
    width: 100%;
}

.boiterechercher {
    position: relative;
    height: 49px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white

}

.fa-location-dot {
    color:black;
    height: 18px;
}

.rechercher {
    display: flex;
    width: 100%;
    color: white;
    text-align: center;
    height: 100%;
    background-color: #0065FC;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
}


.fa-magnifying-glass {
    display: none;
}

/****** Hebergements And Populaires ***********/
.neutral-star {
    color: #F2F2F2;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card a {
    text-decoration: none;
    color: black;
}

.populaires a {
    text-decoration: none;
    color: black;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    width: 100%;
}

.hebergements-cards {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content:space-between;
}

.hebergements-cards .card {
    width:28%;
    margin-top: 33px;
    height: 207px;
    padding: 5px;
}

.hebergements-cards .card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 124px;
}

.hebergements-cards .card-title {
    margin: 2px 15px;
}

.hebergements-cards .card-subtitle {
    margin: 6px 15px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin: 2px 15px;
}

.plus {
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width:95%;
    justify-content: space-between;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires a {
    width:33%;
}

/****** Activités ***********/

.activités {
    margin-top: 35px;
    padding: 30px;
}

.activités-card {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.activités-card .card {
    width: 23%;
    padding: 0;
}

.activités-card img {
    width: 100%;
    height: 450px;
    border-radius: 20px 20px 0px 0px;
}

.activités .card-title {
    padding: 0 19px;
    margin: 20px 0;
}

/****** Footer ***********/

footer {
    margin-top: 35px;
    display: flex;
    background-color:#F2F2F2 ;
    height: 163px;
}


footer .footer-column {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-top: 0;
}

.footer-link {
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-card .card {
        height: 270px;
    }

    .activités-card .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header {
        flex-direction: column;
    }

    header ul {
        padding-left: 0;
        width:100%;
        justify-content: space-around;
    }

    nav {
        width:100%;
        margin-top: 20px;
    }

    .filtres {
        flex-wrap: wrap ;
    }

    .filtres p {
        width: 100%;
    }

    .filtres li {
        width: 48%;
    }

    .filtres ul {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .filtres button {
        width:100%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires a {
        width: 100%;
    }

    .main-container {
        padding: 0;
    }

    .haut {
        padding: 0 50px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
        border-radius: 0%;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color:white ;
    }

    .activités-card {
        flex-direction: column;
    }

    .activités-card .card {
        width: 100%;
        margin-bottom: 15px;
    }

    footer {
        flex-direction: column;
        height: 530px;
    }

    footer .footer-column {
        width:50%;
        padding-left: 40px;
    }

    nav li:hover {
        border-top:  none;
        border-bottom: solid 2px #0065FC;
    }
    
    .rechercher {
        display: none;
    }

    .fa-magnifying-glass {
        display: contents;
    }

    .rechercher {
        flex-grow: 1;
    }

    .boiterechercher {
        width: 49px;
        background-color: #0065FC;
        border-radius: 15px;
    }

    .champ {
        width:calc(100% - 49px);
    }

    .fa-magnifying-glass {
        color: white;
    }

    form {
        width:90%;
    }

    .formulaire {
        justify-content: space-around;
    }

    .haut {
        padding: 0 25px;
    }

    .haut ul {
        padding-left: 0;
    }
}


@media (max-width: 370px) {
    ul button {
        font-size: 13px;
    }
}

/* Réduction de la police et des margins pour les textes des cards */
@media (min-width:1024px) and (max-width: 1300px) {
    .hebergements-cards .card-title {
        font-size: 13px;
        margin: 6px 5px;
    }
    .hebergements .card-subtitle {
        font-size: 12px;
        margin: 6px 5px;
    }
    .hebergements .card-rating {
        margin: 6px 5px
    }
}   